.pannel{
    display: flex;
    margin: 150px auto;
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
}

.pannel-input{
    display: flex;
    justify-content: center;
}
.src, .tar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

textarea{
    height: 200px;
    width: 400px;
}

label {
    text-transform: capitalize;

}

.control {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

input[type='button'] {
    padding: 0.625rem;
    width: 30%;
}