name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
          architecture: 'x64'
      - name: Update gems
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
      - name: Publish to rubygems.org
        env:
          RUBYGEMS_API_KEY: ${{secrets.INTERSCRIPT_RUBYGEMS_API_KEY}}
        run: |
          gem install gem-release
          touch ~/.gem/credentials
          cat > ~/.gem/credentials << EOF
          ---
          :rubygems_api_key: ${RUBYGEMS_API_KEY}
          EOF
          chmod 0600 ~/.gem/credentials
          git status
          gem release
      - name: Update interscript-js repo
        env:
          INTERSCRIPT_CLI_REF: ${{ github.ref }}
        run: |
          bundle exec rake all
          git config --global user.name "interscript-ci"
          git config --global user.email "interscript-ci@users.noreply.github.com"
          git clone https://interscript-ci:${{ secrets.INTERSCRIPT_CI_PAT }}@github.com/interscript/interscript-js
          cp vendor/assets/javascripts/interscript.js interscript-js/interscript.js
          cp vendor/assets/maps/*.json interscript-js/maps/
          git -C interscript-js add interscript.js
          git -C interscript-js commit -m "Update interscript.js ${INTERSCRIPT_CLI_REF#*/v}"
          echo "git -C interscript-js push"
      - name: Trigger interscript-api
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.METANORMA_CI_PAT_TOKEN }}
          repository: interscript/interscript-api
          event-type: ${{ github.repository }}
          client-payload: '{ "ref": "${{ github.ref }}" }'